pipeline/adf/pipeline/northwind.json
{
	"name": "northwind",
	"properties": {
		"activities": [
			{
				"name": "Set currentDateOrders",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentDateOrders",
					"value": {
						"value": "@formatDateTime(\n    pipeline().parameters.startDate,\n    'yyyy-MM-dd'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until endDate reached Orders",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set currentDateOrders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(\n    variables('currentDateOrders'),\n    formatDateTime(pipeline().parameters.endDate, 'yyyy-MM-dd')\n)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Orders",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n    'SELECT * \n    FROM dbo.Orders \n    WHERE format(orderDate, ''yyyy-MM-'') + ''01'' = ''', \n    variables('currentDateOrders'), ''''\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "nwi_orders",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_orders",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set incrementDate Orders",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy Orders",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "incrementDateOrders",
								"value": {
									"value": "@formatDateTime(\n    addToTime(variables('currentDateOrders'), 1, 'Month'),\n    'yyyy-MM-dd'\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "increment currentDate Orders",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set incrementDate Orders",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "currentDateOrders",
								"value": {
									"value": "@variables('incrementDateOrders')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Copy Customers",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "nwi_customers",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_customers",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Categories",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "nwi_categories",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_categories",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Products",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "nwi_products",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_products",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Employees",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "nwi_employees",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_employees",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy EmployeeTerritories",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "nwi_employee_territories",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_employee_territories",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Region",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "nwi_region",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_region",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Shippers",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "nwi_shippers",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_shippers",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Suppliers",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "nwi_suppliers",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_suppliers",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Territories",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "nwi_territories",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_territories",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Until endDate reached Order Details",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set currentDateOrderDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(\n    variables('currentDateOrderDetails'),\n    formatDateTime(pipeline().parameters.endDate, 'yyyy-MM-dd')\n)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Order Details",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n    'SELECT\n\t    od.*\n    FROM\n\t    [dbo].[Order Details] AS od\n\t    LEFT JOIN [dbo].[Orders] AS o ON o.OrderID = od.OrderID\n    WHERE\n\t    format(o.OrderDate, ''yyyy-MM-'') + ''01'' = ''',\n        variables('currentDateOrderDetails'), ''''\n)\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "nwi_order_details",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_order_details",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set incrementDate Order Details",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy Order Details",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "incrementDateOrderDetails",
								"value": {
									"value": "@formatDateTime(\n    addToTime(variables('currentDateOrderDetails'), 1, 'Month'),\n    'yyyy-MM-dd'\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "increment currentDate Order Details",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set incrementDate Order Details",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "currentDateOrderDetails",
								"value": {
									"value": "@variables('incrementDateOrderDetails')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Set currentDateOrderDetails",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentDateOrderDetails",
					"value": {
						"value": "@formatDateTime(\n    pipeline().parameters.startDate,\n    'yyyy-MM-dd'\n)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"startDate": {
				"type": "string",
				"defaultValue": "1996-07-01"
			},
			"endDate": {
				"type": "string",
				"defaultValue": "1998-05-01"
			},
			"start_var": {
				"type": "string",
				"defaultValue": "1996-07-01"
			},
			"end_var": {
				"type": "string",
				"defaultValue": "1998-05-01"
			}
		},
		"variables": {
			"currentDateOrders": {
				"type": "String"
			},
			"currentDateOrderDetails": {
				"type": "String"
			},
			"incrementDateOrders": {
				"type": "String"
			},
			"incrementDateOrderDetails": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-03-01T13:40:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}